.container {
  padding: 40px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}